.explore-more {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .explore-more h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .features-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
  }
  
  .feature-item:hover {
    transform: scale(1.05);
  }
  
  .feature-icon {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .feature-label {
    font-size: 14px;
    color: #333;
  }
  